@model AevumRebuild.Models.Work

@{
    ViewBag.Title = "Details";
}

<p class="detailsHeading">@Html.DisplayFor(model => model.WorkTitle)</p>
<hr />

@* DISPLAY NAME FOR IS THE DAMN LABEL *@
<div class="work container">
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Date)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.AuthorName)
            @if (Model.AuthorSurName == null)
            {
                Model.AuthorSurName = " ";
            }
            else
            {
                @Html.DisplayFor(model => model.AuthorSurName)
            }
        </div>
        <div class="col-md-3">
            <p>PDF Placeholder</p>
        </div>
    </div>

            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuscriptType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuscriptType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationWritten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationWritten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotesOnWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotesOnWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category1.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
