
@model IEnumerable<AevumRebuild.Models.Work>

@{
    ViewBag.Title = "Index";
}

<h1 class="lead">Index of Works</h1>

<p class="addAWork">
    @Html.ActionLink("Add a Work", "Create")
</p>

<div>
    @using (Html.BeginForm())
    {
        <p class="search">
            @Html.RadioButton("Search", "Title", true)<span>Find by Title</span>
            @Html.RadioButton("Search", "Name")<span>Author</span>
            @Html.RadioButton("Search", "Date")<span>Date</span>
            @Html.RadioButton("Search", "Description")<span>Keywords in Description</span>
            @Html.RadioButton("Search", "Notes")<span>Keywords in Notes</span>
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<section>
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="work informationDisplay row">
                <div class="col-md-2">
                    <h2>@Html.DisplayFor(modelItem => item.Date)</h2>
                </div>
                <div class="col-md-5 titleDisplay">
                    <h3>@Html.DisplayFor(modelItem => item.WorkTitle)</h3>
                </div>
                <div class="col-md-5 titleDisplay">
                    <h3>@Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurName)</h3>
                </div>
            </div>
        </div>
        <div class="row editDetails">
            <div class="col-md-6"><a href="@Url.Action("Edit", "Works", new { id = item.WorkID })" class="smallButton text-center" style="float:right" role="button">Edit Entry</a></div>
            <div class="col-md-6">
                <a href="@Url.Action("Details", "Works", new { id = item.WorkID })" class="smallButton text-center" style="float:left" role="button">Entry Details</a>
            </div>
        </div>
    }
</section>